* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    text-transform: lowercase;
    color: white;
    font-size: 0.9rem;
    font-family: 'Comfortaa', sans-serif;
}

.container {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.35);
    box-shadow: 0 8px 32px 0 rgba(31,38,135,0.37);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
}
#login-container {
    height: 50vh;
}
#register-container {
    height: 70vh;
}
.container form {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container input {
    border: none;
    border-radius: 3px;
    width: 80%;
    height: 20px;
    margin: 10px;
}
.container h2 {
    margin-bottom: 20px;
}
.container button {
    background-color: rgb(128, 128, 128);
    border: rgb(128, 128, 128);
    color: rgb(255, 255, 255);
    border-radius: 15px;
    width: 80%;
    height: 20px;
    text-transform: lowercase;
}
.container button:hover {
    cursor: pointer;
    background-color: rgb(150, 150, 150);
}
#aviso-cadastro{
    width: 80%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
#aviso-cadastro a{
    color: #fff;
    text-decoration: none;
}

@media only screen and (min-width: 390px) and (max-width: 720px){
    .container {
        width: 80vw;
        height: 50vh;
    }
    .container form {
        width: 90%;
    }
    .container input {
        width: 95%;
    }
    .container button {
        width: 95%;
    }
}