* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    text-transform: lowercase;
    color: white;
    font-size: 0.9rem;
}

form {
    width: 50vw;
    border: 1px solid rgba(255,255,255,0.18);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(255,255,255,0.35);
    box-shadow: 0 8px 32px 0 rgba(31,38,135,0.37);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
}
form button{
    background-color: gray;
    border: gray;
    border-radius: 15px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 180px;
}
form button:hover {
    background-color: yellow;
    border: black;
    border-radius: 15px;
    color: black;
    cursor: pointer;
}
form input {
    width: 180px;
}
