<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300&family=Honk&display=swap');
    </style>
    <title>Registro</title>
</head>
<body>
    <div id="register-container" class="container">
        <h2>Registro</h2>
        <form action="{{ url_for('register') }}" method="post">
            
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert={{ category }}"> {{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <label for="name">Nome:</label>
            <input type="text" name="name" id="name">
            <label for="lastname">Sobrenome:</label>
            <input type="text" name="lastname" id="lastname">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email">
            <label for="username">Nome de Usuário:</label>
            <input type="text" name="username" id="username" required>
            <label for="password">Senha:</label>
            <input type="password" name="password" id="password" required>
            <button type="submit">Registro</button>
            
        </form>
        <p id="aviso-cadastro">Já tem uma conta? <a href="{{ url_for('login') }}">Faça login aqui!</a></p>
    </div>
</body>
</html>