* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    font-family: 'Comfortaa', sans-serif;
}

.header {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-header {
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-header label {
    width: 100%;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-family: 'Bebas Neue', system-ui;
    font-size: 48px;
    color: #fff;
}
.content-header button {
    width: 50px;
    height: 40px;
    text-transform: lowercase;
    font-family: 'Comfortaa', sans-serif;
    color: rgb(128, 128, 128);
    background: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 3px 15px 0 rgba(31,38,135,0.37);
}
.content-header button:hover {
    cursor: pointer;
    background-color: rgba(232, 232, 232);
}

.main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center ;
}

.content {
    width: 98%;
    height: 100%;
    padding: 10px;
    border: 1px solid rgba(255,255,255,0.18);
    border-radius: 15px;
    background: rgba(255,255,255,0.35);
    box-shadow: 0 8px 32px 0 rgba(31,38,135,0.37);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
}

.header-content {
    padding: 20px 0px;
}
.consulta-cadastro {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
}
.cadastro, .consultar {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cadastro button, .consultar button {
    width: 100px;
    height: 25px;
    border: none;
    border-radius: 5px;
    background: #fff;
    font-family: 'Comfortaa', sans-serif;
    color: rgb(128, 128, 128);
    margin: 5px;
}
.cadastro button:hover, .consultar button:hover {
    cursor: pointer;
    background-color: rgba(232, 232, 232)
}

.linha {
    width: 100%;
    height: 1px;
    background-color: #fff;
    box-shadow: 0 3px 15px 0 rgba(31,38,135,0.37);;
}

@media only screen and (min-width: 390px) and (max-width: 720px){
    .content {
        height: 80vh;
    }
}